@model ChildcareWorldwide.Integration.Manager.Models.ViewModelBase<HubspotCloneProperties>
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Clone all custom properties from main Hubspot account into a Sandbox Account</h4>
            <form class="form-inline" method="post" asp-controller="Hubspot" asp-action="CloneProperties">
                <div class="form-group mr-2">
                    <label class="mr-2" for="apiKey">Sandbox Account API Key</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" size="39" id="apiKey" name="apiKey" placeholder="00000000-0000-0000-0000-000000000000" value="@Model.Data.SandboxApiKey" required />
                </div>
                <button class="btn btn-primary btn-sm" type="submit">Clone</button>
            </form>
        </div>
    </div>
    <br />
    @if (Model.Data.SandboxApiKey != null)
    {
        <div>asdf</div>
    }
</div>