@{
  Layout = null;
}
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Logged Out</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
  <!-- Custom styles -->
  <environment include="Development">
    <link rel="stylesheet" href="~/css/sticky-footer.css"/>
  </environment>
  <environment exclude="Development">
    <link rel="stylesheet" href="~/css/sticky-footer.min.css"/>
  </environment>
</head>

<body>
<main role="main" class="container">
  <h1 class="mt-5">You are now logged out.</h1>
  <a href="/">Go back to the integration Dashboard</a>
</main>
<footer class="border-top footer text-muted">
  <div class="float-left">&copy; Childcare Worldwide.</div>
</footer>
</body>
</html>
