<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="Google.Cloud.Logging.NLog" />
  </extensions>

  <targets async="true">
    <target name="stackdriver" xsi:type="GoogleStackdriver" logId="ChildcareWorldwide.Integration.Subscriber" includeEventProperties="true" sendJsonPayload="true"
            layout="${date}|${level:uppercase=true}|${message} ${exception:format=@}|${logger}|${all-event-properties}" />
    <target name="console" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="stackdriver" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>